.Header {
  --bg: #5187c5;
  --fg: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
  height: 42px;
  padding: 0 1rem;
}

.a {
  color: var(--fg);
  text-decoration: none;
  &.icon {
    display: inline-flex;
    font-size: 1.2rem;
  }
}
