.NavBar {
  --navbar-bg: var(--blue-3);
  --navbar-fg: var(--gray-0);
  position: relative;
  display: flex;
  align-items: center;
  background: var(--navbar-bg);
  color: var(--navbar-fg);
  gap: 0.5rem;
  height: 42px;
}

.content {
  display: flex;
  flex-grow: 1;
  padding-right: 1rem;
  justify-content: space-between;
}

.ghLink {
  display: flex;
  align-items: center;
  color: var(--navbar-fg);
  gap: 0.2rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  font-size: 1.1rem;
}
.menu {
  --menu-bg: var(--blue-2);
  --menu-fg: var(--gray-0);
  --menu-active-bg: var(--blue-3);
  --menu-hover-bg: var(--gray-1);
  background: var(--menu-bg);
  position: absolute;
  top: 42px;
  margin: 0;
  padding: 0.2rem 0 0;
  list-style: none;
  z-index: 10;
  display: none;
  &.isOpen {
    display: block;
  }
}

.menuLink {
  color: var(--menu-fg);
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
  text-decoration: none;
  height: 32px;
  &.active {
    background: var(--menu-active-bg);
  }
  &:hover {
    background-color: var(--menu-hover-bg);
  }
}
